li {color:deeppink; font-style: italic;}

caption {color:deeppink}

div { background: url(https://audiophileparadise.files.wordpress.com/2012/07/stairway.png) no-repeat; width: 1000px; height: 300px; }